@import '@variable';

.wrapper {
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
}

.headerEmpty {
  height: 131px;

  @include mq(xl) {
    height: 117px;
  }
}

.divider {
  display: flex;
  justify-content: space-around;
  margin: 40px auto 20px;
  width: 1160px;
  min-height: 600px;

  @include mq(xl) {
    display: block;
    margin: 30px auto 20px;
    width: 70%;
  }

  @include mq(lg) {
    width: 90%;
  }
}

.footer {
  width: 100%;
}
