@import '@variable';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.top {
  height: 38px;
  background: var(--c-main);

  @include mq(xl) {
    height: 24px;
  }

  @include mq(md) {
    height: 16px;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  background: var(--c-back);
  height: 93px;
  border: 1px solid var(--c-line);
  padding: 19px 138px;

  @include mq(lg) {
    display: block;
    width: 100%;
    padding: 19px 50px;
  }

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 10px 10px 20px;
  }
}

.title {
  cursor: pointer;
  color: var(--c-main);
  user-select: none;

  h1 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.3em;

    @include mq(md) {
      font-size: 1rem;
      line-height: 24px;
    }
  }
  p {
    margin-top: 0px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3em;

    @include mq(md) {
      font-size: 0.5rem;
      line-height: 14px;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 350px;

  @include mq(lg) {
    display: none;
  }

  h2 {
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    color: var(--c-main);

    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

.sp {
  display: none;
  width: 80px;
  @include mq(md) {
    display: flex;
    justify-content: flex-end;
  }

  &__search {
    cursor: pointer;
    margin-right: 30px;
  }

  &__menu {
    cursor: pointer;
    margin-right: 10px;
  }
}
