.wrapper {
  position: relative;
  width: 100%;
}

.header {
  width: 100%;
}

.headerEmpty {
  height: 131px;
  margin-bottom: 40px;
}

.divider {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 0;
  width: 1160px;
  min-height: 600px;
}

.article {
  width: 720px;
  padding: 10px;
}

.aside {
  width: 300px;
}

.footer {
  width: 100%;
}
