.links {
  margin-top: 50px;

  li {
    margin-bottom: 32px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3em;
    color: var(--c-main);
  }
}

.title {
  background: var(--c-line);
  height: 30px;
  line-height: 30px;
}
