@import '@variable';

.links {
  margin-top: 50px;

  li {
    font-size: 1.125rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3em;
    color: var(--c-main);

    @include mq(sm) {
      font-size: 1rem;
    }
  }
}

.title {
  background: var(--c-line);
  height: 60px;
  line-height: 60px;
  margin-bottom: 60px;

  @include mq(sm) {
    margin-bottom: 40px;
    height: 30px;
    line-height: 30px;
  }
}

.link {
  margin-bottom: 50px;
  @include mq(sm) {
    margin-bottom: 40px;
  }
}

.close {
  position: absolute;
  margin: 0 auto;
  bottom: 80px;
  width: 100%;

  &__icon {
    display: flex;
    justify-content: center;
  }
}
