@import '@variable';

.container {
  position: relative;
}

.icon {
  position: absolute;
  right: 15px;
  top: 2px;

  @include mq(lg) {
    right: 15px;
    top: 5px;
  }

  @include mq(md) {
    right: 15px;
    top: 8px;
  }
}
