.container {
  padding: 16px 10px;
}

.category {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  user-select: none;
  line-height: 1rem;
  letter-spacing: 0.1em;
  padding: 0.5rem 0.875rem;
  border-radius: 20px;
  background: var(--c-sub);
  color: car(--c-main);
  margin: 10px;
}
