.container {
  cursor: pointer;
  margin-bottom: 40px;
  width: 30%;

  &:last-child {
    margin-right: 0;
  }

  .image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;

    div {
      border-radius: 12px;
      img {
        transition: 0.5s all;
      }
    }
  }

  &:hover {
    .image {
      div {
        img {
          opacity: 0.7;
          transform: scale(1.1, 1.1);
          transition: 0.5s all;
        }
      }
    }
  }
}

.title {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 27px;
}

.category {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.625rem;
    letter-spacing: 0.1em;
    color: var(--c-point);
    border: 1px solid var(--c-point);
    border-radius: 2px;
  }
}

.date {
  margin-top: 4px;
}
