@import '@variable';

.container {
  border-top: 4px solid var(--c-main);
  border-bottom: 4px solid var(--c-main);
  height: 68px;

  &__area {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;

    @include mq(md) {
      width: 90%;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.share {
  width: 30%;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  line-height: 40px;

  @include mq(md) {
    font-size: 1rem;
    line-height: 30px;
  }
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.icon {
  display: block;

  @include mq(md) {
    display: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &__sp {
    display: none;

    @include mq(md) {
      display: block;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
