@import '@variable';

.container {
  width: 100%;
  margin-bottom: 40px;

  @include mq(md) {
    margin-bottom: 0;
  }
}

.image {
  width: 100%;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.leftBar {
  width: 8%;

  @include mq(lg) {
    display: none;
  }
}

.rightBar {
  width: 87%;
  @include mq(lg) {
    width: 100%;
  }
}

.shareArea {
  margin-top: 60px;
  margin-bottom: 80px;
}
