.container {
  width: 100%;
}

.archive {
  background: var(--c-sub);
  cursor: pointer;
  padding: 10px 20px;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--c-main);
  letter-spacing: 0.1em;
  transition: background 0.1s;

  &:hover {
    opacity: 0.9;
    background: var(--c-main);
    color: var(--c-sub);
    transition: background 1s;
  }
}

.archive_even {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--c-main);
  letter-spacing: 0.1em;
  transition: background 0.1s;

  &:hover {
    opacity: 0.9;
    background: var(--c-main);
    color: var(--c-sub);
    transition: background 1s;
  }
}
