@import '@variable';

.bread {
  background: var(--c-sub);
  padding: 12px 0;

  @include mq(md) {
    padding: 12px 4px;
  }

  &__list {
    margin: 0 auto;
    width: 80%;
    display: flex;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    color: var(--c-main);

    @include mq(lg) {
      width: 80%;
      margin: 0 auto;
    }

    @include mq(md) {
      margin: 0 auto;
      font-size: 0.75rem;
      width: 100%;
    }
    @include mq(sm) {
      font-size: 0.6255rem;
    }
  }

  &__item {
    margin-right: 5px;

    @include mq(lg) {
      width: 20%;
      text-align: right;
    }

    @include mq(md) {
      width: 20%;
    }

    &::after {
      content: '＞';
      padding-left: 5px;
    }
  }

  &__link {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.breadName {
  @include mq(lg) {
    display: block;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include mq(md) {
    width: 80%;
  }
}
