.bread {
  background: var(--c-sub);
  // height: 17px;
  padding: 8px 0;

  &__list {
    margin: 0 auto;
    width: 80%;
    display: flex;
    font-size: 0.75rem;
    // font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--c-main);
  }

  &__item {
    margin-right: 5px;

    &::after {
      content: '＞';
      padding-left: 5px;
    }
  }

  &__link {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
