@import '@variable';

.title {
  padding: 4px 6px;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--c-main);

  @include mq(xl) {
    font-size: 1rem;
  }
  @include mq(md) {
    font-size: 0.75rem;
  }
}

.bar {
  background: var(--c-main);
  height: 4px;

  @include mq(xl) {
    height: 10px;
  }
  @include mq(md) {
    height: 4px;
  }
}

.field {
  width: 100%;
  //   padding: 16px 10px;
  //   min-height: 100px;
  box-sizing: border-box;
  border-right: 1px solid var(--c-border);
  border-left: 1px solid var(--c-border);
  border-bottom: 1px solid var(--c-border);
}
