@import '@variable';

.error {
  margin: 30px auto 80px;
  width: 70%;

  @include mq(xl) {
    width: 90%;
  }
}

.title {
  color: var(--c-line);
  text-align: center;

  h1 {
    font-size: 3rem;
    line-height: 72px;
    letter-spacing: 0.1em;

    @include mq(md) {
      font-size: 2.125rem;
      line-height: 36px;
    }
  }

  h2 {
    margin-top: 36px;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: 0.1em;

    @include mq(lg) {
      font-size: 1.25rem;
    }

    @include mq(md) {
      margin-top: 10px;
      font-size: 0.5rem;
      line-height: 18px;
    }
  }
}

.search {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  @include mq(xl) {
    display: none;
  }

  &__responsive {
    display: none;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;

    @include mq(xl) {
      display: block;
    }

    @include mq(md) {
      display: none;
    }
  }

  &__sp {
    display: none;
    @include mq(md) {
      display: block;
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      width: 95%;
    }
  }
}

.category {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}

.archive {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
}
