.container {
  width: 960px;
  min-height: 400px;
}

.input {
  margin-bottom: 30px;
  width: 500px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  &::after {
    display: block;
    content: '';
    margin-bottom: 40px;
    width: 30%;
  }
}

.unknown {
  margin-top: 40px;

  p {
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--c-main);
  }
}
