.container {
  width: 100%;
  margin-bottom: 40px;
}

.image {
  width: 100%;
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.leftBar {
  width: 8%;
  //   border: 1px solid red;

  &__area {
    width: 100%;
    height: 10px;
    background: red;
    position: sticky;
    top: 140px;
  }
}

.rightBar {
  width: 88%;
  //   border: 1px solid blue;

  &__main {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--c-main);
  }

  &__category {
    margin-top: 16px;
    display: flex;
    &__item {
      margin-right: 16px;
      padding: 4px 12px;
      font-size: 0.75rem;
      letter-spacing: 0.1em;
      color: var(--c-point);
      border: 1px solid var(--c-point);
      border-radius: 4px;
    }
  }

  &__date {
    margin-top: 12px;
  }
}

.contents {
}
